.container-products {
    display: grid;
    grid-template-columns: 0.5fr 4fr; /* Sidebar ocupa 1 parte, productos 5 partes */
    width: 100%;
    height: 100vh; /* Altura completa de la ventana */
    overflow-y: auto; /* Desplazamiento vertical si el contenido es más grande que la ventana */
}

.section-container {
    background: white;
    border-radius: 5px;
    margin: 15px;
    padding: 10px;
    box-shadow: 1px 0px 10px rgba(0, 0, 0, 0.10); /* Sombra en todos los lados excepto el izquierdo */
}

.sidebar {
    width: 100%;
    box-shadow: 1px 0px 10px rgba(0, 0, 0, 0.10); /* Sombra en todos los lados excepto el izquierdo */
}

.sidebar ul {
    padding: 0; /* Elimina el padding de la lista */
    margin: 0; /* Elimina el margen de la lista */
    background: #f8f9fa; /* Color de fondo */
}

.sidebar:hover li span:nth-child(2) {
    display: block;
}

.menu-content li {
    list-style: none;
    transition: .3s;
    margin-bottom: 20px;
    padding-left: 20px;
}

.menu-content li:hover {
    background: white;
}

.sidebar a {
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    font-family: 'calibri';
}

.sidebar a:hover {
    color: #b0b0b0; /* Cambia el color del texto al pasar el mouse */
}

.section-products {
    position: relative;
    padding: 2rem;
    /*background: linear-gradient(-45deg, #007bff, #00c6ff, #8e44ad, #f39c12);*/
    background-size: 400% 400%;
    animation: gradientAnimation 15s ease infinite;
    z-index: 1;
    overflow: hidden;
}

.section-products h2 {
    margin: 20px 0; /* Espacio superior e inferior */
    font-size: 3em; /* Tamaño de fuente */
    text-align: center; /* Centra el texto */
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: #007bff;
}

.title-products {
    margin: 20px 0; /* Espacio superior e inferior */
    font-size: 3em; /* Tamaño de fuente */
    text-align: center; /* Centra el texto */
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: #007bff;
}

.section-products .section-products-a {
    text-decoration: none;
    color: white;
    font-size: 1em;
}

.material-symbols-outlined {
    padding: 10px;
    font-size: 25px;
    margin-right: 10px;
    border-radius: 50%;
}
